@import "tailwindcss";
:root {
    
    --color-primary: #123450;
    --color-secondary: #2a6f90;
    --color-unique: #235347;
    --color-background: #b5dee4;
    --color-text: #000000;

  
    --font-heading: Georgia, serif;
    --font-body: Arial, sans-serif;
    --font-nav: Verdana, sans-serif;

  
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;

    
    --fs-body: 1rem;
    --fs-h3: 1.25rem;
    --fs-h2: 1.563rem;
    --fs-h1: 1.953rem;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: var(--font-body);
    font-size: var(--fs-body);
    background-color: var(--color-background);
    color: var(--color-text); */
}

header {
    /* background-color: var(--color-primary);
    color: var(--color-background); */

}

h1 {
    font-size:calmp(2rem,5vw,4rem);
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--font-heading);
}

h3 {
    font-size: var(--fs-h3);
    font-family: var(--font-heading);
}


nav {
    margin-bottom: var(--space-2);
    padding: var(--space-2);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: var(--color-background);
    margin: var(--space-2);
    font-family: var(--font-nav);
}

nav a:hover {
    color: var(--color-unique);
}

span{
    margin-bottom: var(--space-2);
}

main {
    padding: var(--space-3);
    margin: var(--space-2);

}

section {
    margin-bottom: var(--space-3);

}
.index-section{
    display: flex;
    justify-content:space-between;
}

/* img{
    width: 20rem;
    border: 2px dotted red; 
    margin: var(--space-2);
} */
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    container-type: inline-size;
}

@container (min-width: 600px) {
    .projects article{
        display: flex;
        gap: 20px;
        align-items: center;
    }

}

p{
    font-size: calmp(1rem,2vw,1.2rem);
    
}



form {
    background-color: var(--color-background);
    border: 3px solid var(--color-primary);
    padding: var(--space-3);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: var(--space-1);
}

input,
textarea {
    width: 100%;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    border: 1px solid var(--color-secondary);
    font-family: var(--font-body);
}

 button {
    border: none;
    font-family: var(--font-body);
    display: flex;
    justify-self: center;
    
} 


button:hover {
    background-color: var(--color-primary);
}

footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    height: 3rem;
    
}

@media (min-width:768px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
     .contact-box{
        margin: 0 auto;
        max-width: 600px;
     }
    
}
@media (min-width:1280px) {
     .contact-box{
        max-width: 700px;
        margin: 0 auto;
    }
   

    }    margin: var(--space-2);

}

section {
    margin-bottom: var(--space-3);
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}


article {
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    padding: var(--space-2);
    margin: var(--space-2);
    box-shadow:10px 9px 10px rgba(0, 0, 0, 0.49);
    transition: transform 0.3s ease;

}

article:hover{
   transform: translateY(-9px);
  
}


form {
    background-color: var(--color-background);
    border: 3px solid var(--color-primary);
    padding: var(--space-3);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: var(--space-1);
}

input,
textarea {
    width: 100%;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    border: 1px solid var(--color-secondary);
    font-family: var(--font-body);
}

button {
    background-color: var(--color-unique);
    color: var(--color-text);
    border: none;
    padding: var(--space-2) var(--space-3);
    font-family: var(--font-body);
    border-radius: 30px;
    display: flex;
    justify-self: center;
    cursor: pointer;
}


button:hover {
    background-color: var(--color-primary);
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-background);
    text-align: center;
    padding: var(--space-1);
}

@media (min-width:768px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
     .contact-box{
        margin: 0 auto;
        max-width: 600px;
     }
    
}
@media (min-width:1280px) {
     .contact-box{
        max-width: 700px;
        margin: 0 auto;
    }
   

    }    color: var(--color-text);
}

header {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    padding: var(--space-3);
}

h1 {
    font-size: var(--fs-h1);
    font-family: var(--font-heading);
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--font-heading);
}

h3 {
    font-size: var(--fs-h3);
    font-family: var(--font-heading);
}


nav {
    margin-top: var(--space-2);
}

nav a {
    text-decoration: none;
    color: var(--color-background);
    margin-right: var(--space-2);
    font-family: var(--font-nav);
}

nav a:hover {
    color: var(--color-unique);
}

main {
    padding: var(--space-3);

}

section {
    margin-bottom: var(--space-3);
    background-color: var;
}


article {
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    padding: var(--space-2);
    margin-bottom: var(--space-2);
}


form {
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    padding: var(--space-3);
}

label {
    display: block;
    margin-bottom: var(--space-1);
}

input,
textarea {
    width: 100%;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    border: 1px solid var(--color-secondary);
    font-family: var(--font-body);
}

button {
    background-color: var(--color-unique);
    color: var(--color-background);
    border: none;
    padding: var(--space-1) var(--space-2);
    font-family: var(--font-body);
}

button:hover {
    background-color: var(--color-primary);
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-background);
    text-align: center;
    padding: var(--space-1);
}